.serviceCard {
  width: 200px;
  min-height: 50px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 -4px 44px -20px rgb(0 0 0 / 8%);

  > header {
    a {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 15px;

      text-decoration: none;
      color: #000;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  > main {
    p {
      margin: 10px 0;
    }

    button {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background-color: rgba(83, 0, 236, 0.96);
      border-radius: 4px;
      border: none;
      box-shadow: none;
      cursor: pointer;
    }
  }
}
